<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <title>Document</title>
</head>
<body>
   <h1>
      {{fname}}

   </h1>
<!--    
   <form action = "/upload-image" method = "POST" enctype="multipart/form-data">
      <label>Select Image</label>
      <div style="width: 50%" class="custom-file">
         <input type="file" class="custom-file-input" name="image" id="image">
         <label class="custom-file-label" for="image">Select Image...</label>
      </div>
      <button type="submit" class="btn btn-primary"> somethig</button>
   </form> -->


</body>
</html>