<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>

    <div style="text-align: center;">
        <h1>Conversion Complete</h1>

        <h3>Embroidery Preview:</h3>

        <canvas id="sim_canvas" width="500%" height="500%" style="border:1px solid #d3d3d3;">Sorry, your browser doesn't support the embroidery simulation.</canvas>
        
        <br>

        <button class="btn btn-outline-success" onclick="run()" id="run_button">Animate</button>

        <hr style="width: 75%">

        <br>

        <form action="/download" method="post">
            <input name="file_name" type="hidden" value="{{fname}}{{fext}}"/>
            <button class="btn btn-primary" type="submit">Download File</button>
        </form>

        <script>

            function sleep(ms) { return new Promise(resolve => setTimeout(resolve, ms));}

            async function run(){
                let run_button = document.getElementById("run_button")
                run_button.setAttribute("disabled", true)

                var canvas = document.getElementById("sim_canvas");
                var ctx = canvas.getContext("2d");
                var points =  JSON.parse("{{ gcode_array }}");
                
                console.log((points))

                ctx.clearRect(0, 0, canvas.width, canvas.height);
                
                ctx.moveTo(points[0][0] * 2 ,points[0][1] * 2);
                ctx.beginPath();

                for (i = 1; i < points.length; i++) {
                    var x = points[i][0] * 2;
                    var y = points[i][1] * 2;
                    ctx.lineTo(x,y);

                    ctx.stroke();
                    
                    await sleep(20);
                }

                run_button.removeAttribute("disabled")
            }
            
            run()

        </script>
    </div>

    <footer class="py-4 bg-light text-black-50" style="position: fixed; bottom: 0; width: 100%;">
        <div class="container text-center">
           <small><a href="/upload">Home</a> <br> <a href="https://www.youtube.com/channel/UCGHZqwNqihHgYj8rZFcptvQ" target="_blank">&copy; Sanjith Udupa 2020</a></small>
        </div>
     </footer>
    
</body>
</html>